.example-button {
  position: absolute;
  display: flex;
  align-items: center;

  right: 30px;

  font-size: 18px;
  color: var(--primary-alternative-light);
  cursor: pointer;

  &:hover {
    color: var(--primary-alternative-dark);
  }
}
