.sample-wrapper {
  position: relative;
  padding: 20px 30px;
  width: calc(100% - 60px);
  min-width: 740px;

  hr {
    margin: 50px 0 0 -30px;
    width: calc(100% + 60px);
    border-color: var(--other-divider);
  }

  h5 {
    margin-bottom: 30px;
  }
}

.example-button {
  position: absolute;
  display: flex;
  align-items: center;

  right: 30px;

  font-size: 18px;
  color: var(--primary-alternative-light);
  cursor: pointer;

  &:hover {
    color: var(--primary-alternative-dark);
  }
}

.variant,
.color,
.size,
.state {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.color {
  gap: 32px;
}

.item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;

  > label {
    color: var(--text-disabled);
    font-size: 14px;
  }
}
