.sample {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 16px;
}

.color {
  gap: 32px;
}

.item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;

  > label {
    color: var(--text-disabled);
    font-size: 14px;
    margin-bottom: 50px;
  }
}
