.list-item-wrapper {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;

  margin: 0 12px 2px;
  padding: 8px 12px 8px 16px;
  width: calc(100% - 52px);
  height: 26px;

  border-radius: 8px;
  color: var(--text-primary);

  cursor: pointer;

  &:hover {
    background-color: var(--action-hover);
  }

  &.active {
    background-color: var(--primary-main);
    color: var(--primary-contrast);

    &:hover {
      background-color: var(--primary-contained-hover-background);
    }
  }
}

.arrow {
  position: absolute;

  right: 10px;
}
