@mixin square($isSquare) {
  @if $isSquare == true {
    border-radius: 0;
  } @else {
    border-radius: 10px;
  }
}

.square-true {
  @include square(true);
}

.square-false {
  @include square(false);
}

.paper {
  background-color: var(--other-paper-and-card);

  &.elevated {
    box-shadow:
      0px 1px 5px 0px var(--box-shadow-color1),
      0px 2px 2px 0px var(--box-shadow-color2),
      0px 3px 1px -2px var(--box-shadow-color3);
  }

  &.outlined {
    border: solid 1px var(--other-divider);
  }
}

.popover {
  background-color: var(--other-paper-and-card);
}
