.select-container {
  position: relative;
  width: 220px;

  &.disabled {
    > * {
      pointer-events: none;
    }
  }
}

.select {
  display: flex;
  flex-direction: row;
  align-items: center;

  margin: 0px;
  padding: 0;
  width: calc(100% - 20px);
  height: 47px;

  background-color: transparent;
  border: 0;
  border-bottom: solid 1px var(--other-input-line);

  font-size: 16px;

  cursor: pointer;

  &.s {
    padding: 0 0 4px 0;
    height: 35px;
  }

  > legend {
    display: block;
    visibility: hidden;
    padding: 0 4px;
    width: auto;
    height: 11px;

    font-size: 12px;
    overflow: hidden;
  }

  &.outline {
    padding: 0 15px 0 10px;
    width: calc(100% - 27px);
    height: 58px;

    border: solid 1px var(--other-divider);
    border-radius: 10px;

    &.s {
      height: 42px;
    }
  }

  &.filed {
    padding: 0 15px 0 10px;
    width: calc(100% - 25px);
    height: 59px;

    background-color: var(--other-input-background);
    border-bottom: solid 1px var(--other-ouline-border);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

    &.s {
      height: 50px;
    }
  }

  &:hover {
    border-color: var(--action-active);

    > .select-label {
      color: var(--action-active);
    }
  }

  &.active {
    border-color: var(--primary-main);

    > .select-label {
      color: var(--primary-main);
    }
  }

  &.error {
    border-color: var(--error-main);

    > .select-label {
      color: var(--error-main);
    }
  }
}

.item {
  padding: 0;

  &.outline {
    padding: 0 0 2px 4px;
  }

  &.filed {
    padding: 0 5px;

    &.selected {
      padding: 12px 5px 0 5px;
    }
  }

  &.disabled {
    color: var(--text-disabled);
  }
}

.select-label {
  position: absolute;
  top: 30px;
  left: 0;

  background-color: transparent;
  color: var(--text-disabled);

  transform: translateY(-50%);
  transition: all 0.2s ease;
  pointer-events: none;

  &.s {
    top: 26px;
  }
  &.selected {
    top: 5px;
    left: 0;
    font-size: 12px;
  }

  &.outline {
    top: 33px;
    left: 15px;
    color: var(--text-secondary);
    &.s {
      top: 25px;
    }

    &.selected {
      top: 5px;
      left: 15px;
    }

    &.disabled {
      color: var(--text-disabled);
    }
  }

  &.filed {
    top: 33px;
    left: 15px;
    color: var(--text-secondary);

    &.s {
      top: 29px;
    }

    &.selected {
      top: 20px;
      left: 15px;
    }

    &.disabled {
      color: var(--text-disabled);
    }
  }
}

.arrow {
  position: absolute;
  top: 18px;
  right: 20px;

  color: var(--action-active);

  &.s {
    top: 14px;
  }

  &.outline {
    top: 24px;
    right: 10px;

    &.s {
      top: 16px;
    }
  }

  &.filed {
    top: 25px;
    right: 10px;
    transition: all 0.2s ease;

    &.s {
      top: 20px;
    }

    &.selected {
      top: 30px;

      &.s {
        top: 28px;
      }
    }
  }
}

.helper-text {
  margin-top: 5px;
  color: var(--action-active);
  font-size: 12px;

  &.s {
    margin-top: 3px;
  }

  &.outline,
  &.filed {
    margin-left: 15px;
  }
}
