.ui-component {
  display: flex;
  flex-direction: row;
}

.ui-component-children-wrapper {
  width: 100%;
  height: 100dvh;
}

.ui-component-page-wrapper {
  display: flex;
  flex-direction: row;

  width: 100%;
  height: 100dvh;

  .sample-wrapper {
    padding: 20px;
    width: calc(40% - 40px);
    min-width: 730px;

    overflow-y: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  .sample {
    position: relative;

    padding: 20px 30px 60px 30px;
    width: calc(100% - 60px);
    height: fit-content;

    z-index: 2;

    hr {
      margin: 50px 0 0 -30px;
      width: calc(100% + 60px);
      border-color: var(--other-divider);
    }

    h5 {
      margin-bottom: 30px;
    }

    > .example-button {
      position: absolute;
      display: flex;
      align-items: center;

      right: 30px;

      font-size: 18px;
      color: var(--primary-alternative-light);
      cursor: pointer;

      &:hover {
        color: var(--primary-alternative-dark);
      }
    }
  }

  .example-wrapper {
    padding: 20px 20px 20px 0;
    width: calc(60% - 20px);
    min-width: 790px;

    overflow-y: scroll;

    hr {
      margin: 50px 0 0 -30px;
      width: calc(100% + 60px);
      border-color: var(--other-divider);
    }

    .example-result-row {
      display: flex;
      flex-direction: row;
      gap: 16px;
    }

    .example-result-column {
      display: flex;
      flex-direction: column;
      gap: 16px;
    }
  }

  .example {
    position: relative;

    padding: 20px 30px 60px 30px;
    width: calc(100% - 60px);
    min-width: 730px;
    height: fit-content;

    animation: slideToRight 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
    z-index: 1;
    overflow-y: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  @keyframes slideToRight {
    0% {
      opacity: 0;
      transform: translateX(-800px);
    }
    70% {
      opacity: 1;
      transform: translateX(20px);
    }
    90% {
      transform: translateX(-10px);
    }
    100% {
      transform: translateX(0);
    }
  }
}
