.transfer-list-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.left-list,
.right-list {
  position: relative;
  margin: 16px 0 0 16px;
  width: 200px;
  height: 246px;
  max-height: 246px;

  &.enhanced {
    height: 305px;
    max-height: 305px;
  }
}

.items-wrapper {
  display: flex;
  flex-direction: column;

  height: 100%;
  overflow-y: scroll;
}

.enhanced-item-wrapper {
  height: calc(100% - 73px);
}

.item {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;

  padding: 5px 10px;
  height: 48px;
  min-height: 48px;
  cursor: pointer;

  &:hover {
    &:not(.enhanced):first-child {
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
    }

    background-color: var(--action-hover);
  }
}

.enhanced-item {
  height: 62px;
  cursor: default;
  border-bottom: solid 1px var(--other-divider);

  &:hover {
    background-color: var(--other-paper-and-card);
  }
}

.arrows {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;

  margin-left: 16px;
}

.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.sub {
  font-size: 14px;
  color: var(--action-active);
}
