@import "@/styles/colors.scss";
@import "@/styles/inputs.scss";
@import "@/styles/shadow.scss";
@import "@/styles/paper.scss";
@import "@/styles/progress.scss";
@import "@/styles/typography.scss";

input,
select,
button {
  -o-appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
}

a {
  text-decoration: none;
}

div {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -ms-user-select: none;
}

body {
  margin: 0;
  background-color: var(--other-body-background);
  transition: background-color 0.3s ease;

  color: var(--text-primary);
}

.ui-component {
  display: flex;
  flex-direction: row;
}

.ui-component-page-wrapper {
  padding: 20px;
  width: calc(45% - 310px);
  min-width: 800px;
}

.example-wrapper {
  padding: 20px 20px 20px 0;
  width: calc(55% - 20px);
}
