.samples {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;

  > label {
    color: var(--text-disabled);
    font-size: 14px;
  }
}
