.slider-container {
  position: relative;
  padding: 20px;
  width: 320px;
  height: calc(100% - 4px);

  &.s {
    padding: 12px;
  }
}

input[type="range"].range-input {
  appearance: none;
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  width: 360px;
  height: 100%;

  background-color: transparent;
  border: none;

  cursor: pointer;
  z-index: 10;
  opacity: 0;
  transition: opacity 0.3s;

  &::-webkit-slider-thumb {
    appearance: none;
    pointer-events: all;

    width: 40px;
    height: 40px;

    background-color: var(--primary-contained-hover-background);
    border-radius: 20px;
  }

  &.secondary {
    &::-webkit-slider-thumb {
      background-color: var(--secondary-contained-hover-background);
    }
  }
  &.info {
    &::-webkit-slider-thumb {
      background-color: var(--info-contained-hover-background);
    }
  }
  &.success {
    &::-webkit-slider-thumb {
      background-color: var(--success-contained-hover-background);
    }
  }
  &.warning {
    &::-webkit-slider-thumb {
      background-color: var(--warning-contained-hover-background);
    }
  }
  &.error {
    &::-webkit-slider-thumb {
      background-color: var(--error-contained-hover-background);
    }
  }

  &.s {
    width: 344px;

    &::-webkit-slider-thumb {
      width: 24px;
      height: 24px;
    }
  }

  &:hover {
    opacity: 0.16;
  }

  &.hide,
  &.disabled {
    display: none;
  }
}

.track {
  position: relative;

  width: 320px;
  height: 4px;

  background-color: var(--primary-outlined-resting-background);
  border-radius: 2px;

  &.secondary {
    background-color: var(--secondary-outlined-resting-background);
  }
  &.info {
    background-color: var(--info-outlined-resting-background);
  }
  &.success {
    background-color: var(--success-outlined-resting-background);
  }
  &.warning {
    background-color: var(--warning-outlined-resting-background);
  }
  &.error {
    background-color: var(--error-outlined-resting-background);
  }

  &.disabled {
    background-color: rgba(#bdbdbd, 0.38);
  }

  &.s {
    height: 2px;
  }
}

.discrete {
  position: absolute;
  width: 2px;
  height: 2px;
  border-radius: 1px;
  top: 50%;
  transform: translate(-1px, -50%);
  background-color: rgb(18, 18, 18);
  opacity: 0.8;

  &.disabled {
    background-color: var(--other-gray400);
  }

  &.active {
    background-color: var(--primary-contrast);
  }
}

.label-wrapper {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;

  width: 100%;
}

.range {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  background-color: var(--primary-main);
  border-radius: 2px;

  &.secondary {
    background-color: var(--secondary-main);
  }
  &.info {
    background-color: var(--info-main);
  }
  &.success {
    background-color: var(--success-main);
  }
  &.warning {
    background-color: var(--warning-main);
  }
  &.error {
    background-color: var(--error-main);
  }
  &.disabled {
    background-color: var(--other-gray400);
  }
}

.thumb {
  position: absolute;
  width: 20px;
  height: 20px;
  transform: translate(-10px, -8px);

  background-color: var(--primary-main);
  border-radius: 10px;
  z-index: 9;

  &.secondary {
    background-color: var(--secondary-main);
  }
  &.info {
    background-color: var(--info-main);
  }
  &.success {
    background-color: var(--success-main);
  }
  &.warning {
    background-color: var(--warning-main);
  }
  &.error {
    background-color: var(--error-main);
  }
  &.disabled {
    background-color: var(--other-gray400);
  }

  &.s {
    width: 12px;
    height: 12px;
    transform: translate(-6px, -4.8px);
  }
}

.tooltip {
  position: absolute;
  top: -42px;
  left: 50%;
  padding: 7px 15px;
  transform: translateX(-50%);

  background-color: var(--other-gray600);
  color: var(--primary-contrast);
  border-radius: 4px;

  &::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);

    border-width: 6px;
    border-style: solid;
    border-color: var(--other-gray600) transparent transparent transparent;
  }
}

.left {
  left: 0;

  &.hide {
    display: none;
  }
}

.right {
  right: 0;
}
