.radio-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.radio {
  padding: 11px !important;

  border-radius: 42px;
  border: 0;

  &.primary:hover {
    background-color: var(--primary-outlined-hover-background);
  }
  &.secondary:hover {
    background-color: var(--secondary-outlined-hover-background);
  }
  &.info:hover {
    background-color: var(--info-outlined-hover-background);
  }
  &.success:hover {
    background-color: var(--success-outlined-hover-background);
  }
  &.warning:hover {
    background-color: var(--warning-outlined-hover-background);
  }
  &.error:hover {
    background-color: var(--error-outlined-hover-background);
  }
  &.disabled:hover {
    background-color: transparent;
  }

  &.s {
    width: 16px;
    height: 16px;
  }
  &.m {
    width: 20px;
    height: 20px;
  }
  &.l {
    width: 24px;
    height: 24px;
  }
}

.label-disabled {
  color: var(--text-disabled);
}
