.editor-wrapper {
  position: relative;
  width: 90%;
  min-width: 800px;
  max-width: 1200px;
}

.editor {
  margin: 20px 40px;
  background-color: var(--code-editor-bg);
  border-radius: 16px;

  color: var(--code-editor-default-color);
  font-size: 18px;
}

.textarea {
  outline-width: 3px;
  outline-color: var(--action-active);
  border-radius: 16px;
}
