.toggle-button-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  box-shadow: -1px 0px 0px 0px #0000001f inset;
  cursor: pointer;

  &:first-child {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
  }

  &:last-child {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
  }

  &.s {
    padding: 4px;
  }

  &.m {
    padding: 8px;
  }

  &.l {
    padding: 12px;
  }

  &.active {
    background-color: var(--action-selected);
  }

  &.divider-false {
    box-shadow: 0 0 0;
  }

  &.disabled {
    pointer-events: none;
  }
}
